<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CuraHealthSuite" parallel="methods" thread-count="5">

   <listeners>
        <listener class-name="com.srm.hackathon.curahealth.listeners.TestListener"/>
    </listeners>

    <test name="AuthenticationTests">
        <classes>
            <class name="com.srm.hackathon.curahealth.tests.LoginTest"/>
            <class name="com.srm.hackathon.curahealth.tests.AppointmentTest"/>
        </classes>
    </test>

</suite>